.foto{
    width: 150px;
}

.blok_foto {
    background: rgb(113, 83, 235);
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}